apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: shopmicro
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      initContainers:
      - name: fix-permissions
        image: busybox
        # We create the directory AND set ownership in one go
        command: ["sh", "-c", "mkdir -p /var/lib/postgresql/data/pgdata && chown -R 70:70 /var/lib/postgresql/data"]
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
      
      containers:
      - name: postgres
        image: postgres:16-alpine
        env:
        - name: POSTGRES_DB
          value: "shopmicro"
        - name: POSTGRES_USER
          value: "user_admin"
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: shopmicro-secrets
              key: postgres-password
        - name: PGDATA
          value: /var/lib/postgresql/data/pgdata
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
          subPath: pgdata
      
      volumes:
      - name: postgres-data
        persistentVolumeClaim:
          claimName: postgres-pvc