apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: shopmicro
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:16-alpine
        env:
        - name: POSTGRES_DB
          value: "shopmicro"
        - name: POSTGRES_USER
          value: "user_admin"
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: shopmicro-secrets
              key: postgres-password # Using the secret we defined above
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgres-data
        persistentVolumeClaim:
          claimName: postgres-pvc # Connecting to the PVC from Step 2
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: shopmicro
spec:
  ports:
    - port: 5432
  selector:
    app: postgres # Directs traffic to the postgres pod